#contenedor
{
    width: 80%;
    margin: auto;
}
.carousel-caption {
    top: 30%;       
    padding-left: 30%;
    
}
.oscurecer_img{
filter: brightness(50%); 
 }

.aclarar_btn{
    filter: brightness(150%)
}
.cuadrado {   
   
    height: 300 px;
    border-width: 2px;
    border-style: dotted;
    text-align: center;
}
.txtsu{
    color: gray;
    font-size: small;
}

}